<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantForum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if current_user %>
    <div class="container">
    <% if current_user.admin? %>

      

       <%=  link_to_unless_current(sanitize('<span class="glyphicon glyphicon-star" aria-hidden="true"></span>後台'), admin_root_path) do 
          icon_link_to('前台', root_path,"log-in") 
       end 
       %>
    <% else %>
      <%= link_to('Home', root_path)%>
    <% end %>
    Hi, <%= current_user.email %>
    <%= link_to('Profile', user_path(current_user.id)) %> |
    <%= link_to('logout', destroy_user_session_path, method: :delete) %> |
    <%= link_to('modify', edit_user_registration_path) %>
  <% else %>
    <%= link_to('singup', new_user_registration_path) %> |
    <%= link_to('login', new_user_session_path) %>
    </div>
 <% end %>

<div class ="container">
<div class="row">
<h1>restaurants web site</h1>
<br>
<!-- bootstrap components 的 Nav Tabs-->
  <ul class="nav nav-tabs">
  <li role="presentation" class="<%="active" if @page_tab == "Home" %>">
    <%= link_to 'Home', root_path %>
  <li role="presentation" class="<%="active" if @page_tab == "about" %>">
    <%= link_to '最新資訊',feeds_restaurants_path %>
  </li>
</ul>

</div>
</div>
<br>


    <%= yield %>
  </body>
</html>
